h1{
	color:blue;
	font-size:200%;
	margin:0;
	text-align:center;
}
h2{
	color:red;
	font-size:100%;
	margin:0;
	text-align:left;
	background-color:black;
}
#main{
	margin:150px;
	padding:10px;
	background-color:white;
	width:100px;
}
body{
	background-color:gray;
}
